<h1 class="board-title">
<%= board.escape("title") %>
</h1>

<ul class="list-index list-group">
</ul>
<button class="create-list-button"> Create New List</button>
<button class="delete-board">Delete Board</button>
<br>
<a href="/#" class="back-to-index"> Back to All Boards</a>
